* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2rem;
  line-height: 1.6;
  max-width: 800px;
  border: 1px dotted black;
}

h1 {
  color: blue;
}
p {
   margin-bottom: 1.5em; 
}

a:active {
  color: blue;
}
a:hover {
   color: rgb(117, 10, 31);
}
a {
  color: red;
}
a:hover{
  font-size: 0;
}
a:hover::after {
  font-size: 1rem;
  content: " Click me, i dare you!!!";
}


.fourBoxesStyles {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  text-align: center;
  padding: 2rem;
}

.coldColors {
  border-color: blue;
}

.warmColors {
  border-color: orange;
}
#firstBox {
  background-color: red;
}

#secondBox{
  background-color: green;
}
#thirdBox{
  background-color: yellow;
}

#fourthBox{
  background-color: purple;
}